<!DOCTYPE html>
<html>
<head>
  <title>Store</title>
  <!--[if lt IE 9]>
      <script src="src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, intial-scale=1.0">
</head>
<body>


<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
 
      <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
 
      <!-- Be sure to leave the brand out there if you want it shown -->
      <a class="brand" href="#">Project name</a>
 
      <!-- Everything you want hidden at 940px or less, place within here -->
      <div class="nav-collapse">
	<ul class="nav">
      	  <li><%= link_to "Browse Products", products_path %></li>
	  <li><%= link_to "Price List" %></li>
	  <li><%= link_to "Contact Us" %></li>
	  <li><%= link_to "Cart" %></li>
	</ul>
      </div>
 
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="span9">
      <%= yield %>
    </div>
    <div class="span3">
      <h2>About us</h2>
This is a bunch of text that tells about us.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus fringilla, ante in condimentum volutpat, felis risus egestas eros, in mollis dui lacus non mi. Etiam ante orci, dapibus ac accumsan quis, suscipit vel augue. Sed blandit nibh cursus risus congue vitae vestibulum est egestas. Morbi nisl risus, volutpat a fermentum non, facilisis eget dui. Fusce accumsan fermentum nisl pellentesque sodales. Maecenas commodo nisi a est hendrerit euismod. Proin tempus molestie lorem viverra ultricies. Duis vitae massa et lorem dapibus cursus. Pellentesque tincidunt arcu in orci tincidunt tincidunt. Vestibulum blandit aliquam libero ut volutpat. Nunc ultricies, arcu sit amet venenatis aliquet, metus diam aliquet nisl, sit amet dignissim tortor urna in libero. Fusce rutrum augue vel eros ornare iaculis. 
    </div>
  </div>
</div>

</body>
</html>
